@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*
@font-face {
    font-family: Roboto;
    src: url("/Roboto.ttf") format("ttf");
}
*/
body {
    font-family: 'Roboto', sans-serif;
   /* color: white; */
}
h1, a{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 10 0;
    color: black;
    text-decoration: none;
}
#XCC {
    float: left;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin: 7 0;
    color: white;
}
p, .bodyText {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 600;
text-align: center;
}
.home{
    float: left;
    width: 60px;
    background-size: 60px 60px;}

.vl {
    border-left: 4px solid black;
    height: 60px;
    width: 10px;
    float: left;
    position: relative;
    left: 20;
}

.bar {
    height: 60px;
    background-color: #ffff;
    padding:10px;
}
.top_bar{
    top: 7px;
    padding-right: 20px;
    position: relative;
    display: inline;
    font-weight: bold;
}
.top2{
    position: relative;
    height: 100%;
    margin-left: 150px;
    left: 20px;
}
body{
    background-image: url("images/coding.jpg");
    background-size: cover;
}
.content {
    background-color: #fffffbd4;
padding-top:10px;}
#ptemplate {
    display: none;
}
.content > h1 {
    font-size: 60px;
    text-align: center;
}
#titleblock {
    width: 50%;
    float: left;
}
#titleblock > h2 {
    width: 100%;
    text-align: center;
}
.project {
    background-color: black;
    margin: 10 0;
    display: flex;
    height: max-content;
}
.project > p {
    flex: 1;
}
#linkline {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.linkicon {
    width: 40;
}

/* /contact
*/


.bodyText {
    text-align: center;
}

input[type="submit"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px;
}


/* calander
*/
.calander {
    font-size: 24px;
    font-weight: 600;
}

.month {
   text-align: center; 
}

.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  width: calc(97% / 7);
  display: inline-block;
  text-align: center;
}

.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  width: calc(100% / 7);
  height: 5%;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  font-size:18px;
}
/* projects
*/
.project_description{
	color:white;
}
