@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*
@font-face {
    font-family: Roboto;
    src: url("/Roboto.ttf") format("ttf");
}
*/
h1, a{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    float: left;
    margin: 10 5;
    display:block;
    color: white;
    text-decoration: none;
}
.home{
    float: left;
    width: 60px;
    background-size: 60px 60px;}

.vl {
    border-left: 3px solid black;
    height: 60px;
    width: 10px;
    float: left;
    position: relative;
    left: 20;
}

.bar {
    height: 60px;
    background-color:#333333;
    opacity: 0.8;
    margin:0px;
    padding:0px;
}
p{
    float:left;
    font-size:40px;;
}
.top_bar{
    padding-right: 20px;
    position: relative;
    display: inline;
    font-weight: bold;
}
.top2{
    position: relative;
    height: 100%;
    left: 20px;
}
body{
    background-image: url("/images/coding.jpg");
}
.content {
    background-color: #333333;
    opacity: 0.8;
    margin-top: 10;
    width: 100%;
    height: 100%;
}