@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*
@font-face {
    font-family: Roboto;
    src: url("/Roboto.ttf") format("ttf");
}
*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    float: left;
    position: absolute;
    padding-top: -10px;
    padding-left: 70px;
    top:-10px;
    display:block;

}
.home{
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    background-image: url("images/elogo_1.png");
    background-size: 60px 60px;}

.vl {
    border-left: 3px solid black;
    height: 60px;
    width: 10px;
    float: left;
    position: relative;
    right:-95px;
}

.bar {
    height: 60px;
    background-color:#333333;
    margin:0px;
    padding:0px;
}
p{
    float:left;
    font-size:40px;;
}
.top_bar{
    padding-left: 10px;
    padding-right:10px;
    position: relative;
    display:inline;
}
.top2{
    position: absolute;
    left: 180px;
    float: left;
    top:-0px;
    height:60px;
}

body{
    background-image: url("/images/coding.jpg");
}