@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*
@font-face {
    font-family: Roboto;
    src: url("/Roboto.ttf") format("ttf");
}
*/
body {
    font-family: 'Roboto', sans-serif;
    color: white;
}
h1, a{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 10 0;
    color: white;
    text-decoration: none;
}
#XCC {
    float: left;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin: 10 0;
    color: white;
}

p, .bodyText {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
text-align: left;
}
.home{
    float: left;
    width: 60px;
    background-size: 60px 60px;}

.vl {
    border-left: 3px solid rgb(0, 0, 0);
    height: 60px;
    width: 10px;
    float: left;
    position: relative;
    left: 20;
}

.bar {
    height: 60px;
    background-color:#fdfdfd;
    opacity:1;
    margin:0px;
    padding:0px;
}
.top_bar{
    top: 7px;
    padding-right: 100px;
    position: relative;
    display: inline;
    font-weight: bold;
    color:black;
}
.top2{
    position: relative;
    height: 100%;
    margin-left: 150px;
    left: 20px;
}

.intro_text{
    padding-left:20px;
    line-height:1.5;
}

body{
    background-image: url("images/coding.jpg");
}
.content {
    background-color: rgba(74, 97, 173, 0.9);
	margin-top: 10px;
	padding-top: 10px;
    width: 100%;
    height: 100%;

}

.XCC_name{
    color: black;
    margin: 8 0;
}

.large_break{
    height:100px;
}

#ptemplate {
    display: none;
}
.content > h1 {
    font-size: 60px;
    text-align: center;
}
#titleblock {
    width: 50%;
    float: left;
}
#titleblock > h2 {
    width: 100%;
    text-align: center;
}
.project {
    background-color: black;
    margin: 10 0;
    display: flex;
    height: max-content;
}
.project > p {
    flex: 1;
}
#linkline {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.linkicon {
    width: 40;
}

/* /contact
*/
.bodyTextFormat{
    text-align:center;
}

.projects_text{
    text-align:center;}
.bodyText {
    text-align: center;
    padding-left: 10px;
}

input[type="submit"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px;
}


/* calander
*/
.calander {
    font-size: 24px;
    font-weight: 600;
}

.month {
   text-align: center;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  width: calc(97% / 7);
  display: inline-block;
  text-align: center;
}

.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  width: calc(100% / 7);
  height: 5%;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  font-size:18px;
}
